/* App.css */

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('../images/background-laptop.jpeg'); 
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #333; 
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  body, html {
    background-size: auto;
  }
}