/* Home.css */

/* Heading Name Styles */
h2.display-4 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

/* Profile Picture - Image Styles */
.img-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.profile-image {
  width: 30%;
  height: 30%;
  margin-top: 0%;
  margin-right: 5%;
}

.text-container {
  text-align: left;
}

/* Main Button Styles */
.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.btn-container .btn {
  margin-top: 10%;
  margin-right: 10px;
  padding: 10px 20px; 
  font-size: 16px;
  background-color: #F39C12; 
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, text-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
}

.btn-container .btn:hover {
  background-color: #E67E22; 
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.btn-container .btn-custom-color {
  background-color: #6C7A89; 
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.btn-container .btn-custom-color:hover {
  background-color: #4E5A65; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
}

/* Skills Section Styles */
.skills-section h4 {
  font-size: 20px; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  margin-top: 8%;
}

.skills-list {
  margin-top: 1%;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around; 
}

.skills-list li {
  font-size: 16px;
}

.skills-list i {
  margin-right: 5px;
}
